.node {
  width: 50px;
  height: 50px;
  margin: 1px;
  border: solid 2px rgb(0, 0, 0);
  border-radius: 5px;
}

.start {
  background-color: #fe5f55;
}

.end {
  background-color: #fe5f55;
}

.visited {
  background-color: #e03d3d;
}

.wall {
  background-color: #211469;
}

.explored {
  background-color: #06d6a0;
  animation-name: fillIn;
  animation-duration: 1.3s;
}

@keyframes fillIn {
  0% {
    background-color: #94b0e6;
  }
  25% {
    background-color: #3e7beb;
  }
  50% {
    background-color: #3eebc6;
  }
  100% {
    background-color: #10e2aa;
  }
}

p {
  font-size: small;
}
